.container{
    padding: 25rpx;
    display: flex;
    flex-wrap: wrap;
    .button{
        position: fixed;
        height: 24Px;
        right: 20px;
        bottom: calc(120px + env(safe-area-inset-bottom));
    }
}