page{
    background: #EcECEC;
    .button {
        position: fixed;
        bottom: 0;
        left: 0;
        bottom: calc(10Px + env(safe-area-inset-bottom));
        background: #5463FF;
      
      }
}

