.container{
    padding:50px;
    .desc{
        height: 50px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .button{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
