.container{
    position: absolute;
    padding:50px;
    .cancel{
        position: absolute;
        left: 8Px;
    }
    .desc{
        height: 50px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .button{
        position: fixed;
        background: #5463FF;
        color: #ECECEC;
        bottom: 0;
        left: 0;
    }
}
