.custom-indicator {
    position: absolute;
    right: 5px * 2;
    bottom: 5px * 2;
    padding: 2px * 2 5px * 2;
    font-size: 12px * 2;
    color: #ffffff;
    background: #0000001a;
}
.img{
    width: 750px;
    height: 550px;
}