.tab-bar {
  position: fixed;
  bottom: calc(10Px + env(safe-area-inset-bottom));
  left: 10Px;
  right: 10Px;
  height: 100px;
  // background: #79d2d8;
  display: flex;
  // padding-bottom: env(safe-area-inset-bottom);

  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.23);
  border-radius: 50px;
  border: 1Px solid rgba(255, 255, 255, 0.125);
}

.tab-bar-border {
  // background-color: #ECECEC;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  // transform: scaleY(0.5);
}

.tab-bar-item {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-bar-item image {
  width: 54px;
  height: 54px;
  transition: all .3s ease;
}

.tab-bar-item view {
  font-size: 20px;
}
