.container{
    width: 320rpx;
    height: 400rpx;
    border-radius: 20rpx;
    margin: 0 15px 24px 15px;
    background: #fff;
    box-shadow: 0 8px 12px #ebedf0;
    .img{
        width: 320rpx;
        height: 350rpx;
        border-radius: 20rpx;
    }
    .content{
        width: 320rpx;
        color: #34495e;
        font-size: 26rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
    }

}

